{% extends "admin/a-page-temp.html"%}
{% block headLink%}<link rel="stylesheet" href="{{url_for('static', filename='admin/create-staff-acc.css')}}">{% endblock %}
{% block title %}Admin Create Acc{% endblock %}
{% block layoutTitle %}Create Account{% endblock %}
{% block content %}
<h1 class="loginTitle">Create Account</h1>

<div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="inputs">
    <form class="" action="" method="post">
      <!--role-->
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="email" id="email" name="email" value = {{emailText}}>
        <label class="mdl-textfield__label" for="email">Email</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="firstName" name="firstName" value = {{firstNameText}}>
        <label class="mdl-textfield__label" for="firstName">First Name</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="lastName" name="lastName" value = {{lastNameText}}>
        <label class="mdl-textfield__label" for="lastName">Last Name</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="job" name="job" value = {{jobText}}>
        <label class="mdl-textfield__label" for="job">Job</label>
      </div>

      <!-- Username -->
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="username" name="username" value = {{usernameText}}>
        <label class="mdl-textfield__label" for="username">Username</label>
      </div>

      <!--Password-->
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="password" id="password" name="password" value = "">
        <label class="mdl-textfield__label" for="password">Password</label>
      </div>
</div>


    <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="submit" value="submit" />
    {% with messages = get_flashed_messages()%}
      {% if messages %}
        {% for msg in messages %}
          <script>alert("{{msg}}")</script>
        {% endfor%}
      {% endif %}
    {% endwith %}
  </form>
{% endblock %}
